{% extends 'base.html' %}

{% block container %}

<main class="container center-block">

    <section class="my-5 pt-3">

        <div class="text-center">
            <a href="{% url 'new_post' %}">
                <button type="button" class="my-4 btn btn-info">
                    + New post
                </button>
            </a>
        </div>

        {% for post in posts %}
        <div class="mt-4 row">
            <div class="col-md-9 mx-auto">
                <div class="form-inline">
                    <img class="my-3 img-fluid rounded-circle" src="{{ post.user.profile.avatar.url }}" width="50"
                         height="50" alt="">
                    <a class="text-dark" href="{% url 'profile' post.user.username %}">
                        <p class="ml-2 mt-3">{{ post.user.profile.full_name }}</p></a>
                </div>
                <img src="{{ post.image.url }}" width="800" alt="">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col">
                            <p class="font-weight-light">{{ post.published_at }}</p>
                        </div>
                        <div class="col text-right">
                            <form action="{% url 'like' %}" method="POST" class="like-form" id="{{ post.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <div class="row text-right">
                                    <div class="col-9">
                                        <p class="btn_count{{ post.id }} font-weight-normal">{{ post.amount_likes }}</p>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit"
                                                class="btn_like{{ post.id }} btn btn-outline-{% if post in liked_posts %}danger{% else %}primary{% endif %} btn-sm">
                                            {% if post in liked_posts %}Liked{% else %}Like{% endif %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="ml-3 card-text">{{ post.description }}</p>
            </div>
        </div>
        {% endfor %}

    </section>

</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.like-form').submit(function (e){
            e.preventDefault()
            const post_id = $(this).attr('id')
            const like_text = $.trim($(`.btn_like${ post_id }`).text())
            const url = $(this).attr('action')
            let res;
            const likes = parseInt($(`.btn_count${ post_id }`).text())

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if(like_text === 'Liked') {
                        $(`.btn_like${ post_id }`).text('Like').toggleClass('btn btn-outline-danger btn-sm btn btn-outline-primary btn-sm')
                        res = likes - 1
                    } else {
                        $(`.btn_like${ post_id }`).text('Liked').toggleClass('btn btn-outline-primary btn-sm btn btn-outline-danger btn-sm')
                        res = likes + 1
                    }
                    $(`.btn_count${ post_id }`).text(res)
                }
            })

        })
    });

</script>
{% endblock scripts %}