{% extends 'base.html' %}

{% block container %}

<main class="container center-block">

    <section class="mt-5 pt-3">

        <div class="text-center">
            <a href="{% url 'new_post' %}">
                <button type="button" class="my-4 btn btn-info">
                    + New post
                </button>
            </a>
        </div>

        {% for post in posts %}
        <div class="mt-4 row">
            <div class="col-md-9 mx-auto">
                <div class="form-inline">
                    <img class="my-3 img-fluid rounded-circle" src="{{ post.user.profile.avatar.url }}" width="50"
                         height="50" alt="">
                    <a class="text-dark" href="{% url 'profile' post.user.username %}">
                        <p class="ml-2 mt-3">{{ post.user.profile.full_name }}</p></a>
                </div>
                <img src="{{ post.image.url }}" width="800" alt="">
                <p class="card-text mt-3">{{ post.description }}</p>
                <div class="form-inline">
                <p class="mt-1 font-weight-light">{{ post.published_at }}</p>
                <div class="container">
                    <div class="row">
                        <div class="col-4 ml-auto mr-3">
                            <p class="mt-1 mx-2 font-weight-normal">{{ post.amount_likes }}</p>
                        </div>
                        <div class="col-4 mr-auto ml-3">
                            {% if post.is_liking %}
                            <button type="button" class="btn btn-outline-danger btn-sm mx-2">Liked</button>
                            {% else %}
                            <button type="button" class="btn btn-outline-primary btn-sm mx-2">Like</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    </div>

            </div>
        </div>
        {% endfor %}

    </section>

</main>
{% endblock %}