{% extends 'base.html' %}

{% block container %}

<main class="container mt-3">

    <section>
        <div class="text-center">
            <img class="my-3 img-fluid rounded-circle" src="{{ profile.avatar.url }}" width="200" height="200" alt="">
        </div>
        <p class="mt-4 text-center font-weight-light">Full name</p>
        <p class="text-center" style="font-size:20px">{{ profile.full_name }}</p>
        <p class="mt-4 text-center font-weight-light">Bio</p>
        <p class="text-center" style="font-size:20px">{{ profile.bio }}</p>
    </section>

    {% if profile.user == request.user %}

    <div class="text-center">
        <a href="{% url 'edit_profile' user.username %}">
            <button type="button" class="my-4 btn btn-secondary">
                Edit profile
            </button>
        </a>
    </div>
    {% else %}



    <div class="text-center my-4">
        <a type="button"
           {% if following %} class="btn btn-light" {% else %} class="btn btn-info" {% endif %}
           id="follow-button"
           href="{% url 'follow' profile.user.username %}">{% if following %}Unfollow{% else %}Follow{% endif %}</a>
    </div>

    {% endif %}

    <div class="text-center">
        <a href="{% url 'following' profile.user.username %}">
            <button type="button" class="m-4 btn btn-primary">
                Following
            </button>
        </a>

        <a href="{% url 'followers' profile.user.username %}">
            <button type="button" class="m-4 btn btn-primary">
                Followers
            </button>
        </a>
    </div>

    <section>
        <div>
            <div class="m-5 row">
                {% for post in posts %}
                <div class="col-md-4">
                    <img src="{{ post.image.url }}" width="300" alt="">
                    <p class="mt-2 font-weight-light">{{ post.published_at }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>
{% endblock container %}

{% block scripts %}
<script type="text/javascript">
    $('#follow-button').click(function () {
        var href = this.href;
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: href,
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: "json",
            success: function (response) {
                if (response['following']) {
                    $('#follow-button').html("Unfollow").toggleClass('btn btn-light');
                } else {
                    $('#follow-button').html("Follow").toggleClass('btn btn-info');
                }
            }
        })
    })
</script>
{% endblock scripts %}
