{% extends 'base.html' %}

{% block container %}

<main class="container my-3">

    <form action="{% url 'search' %}" method="get" class="form-inline mx-5 mt-5" enctype="multipart/form-data">
        <div class="form-group col-8 col-md-10 pl-0">
            <input name="s" class="form-control w-100" type="text" value="{{ query }}" placeholder="Search" aria-label="Search">
        </div>
        <div class="form-group col-4 col-md-2 pl-0">
            <button class="btn btn-outline-info w-100" type="submit">Search</button>
        </div>
    </form>

    <section>
        <div class="mt-4">
            {% if found_users|length == 0 %}
            <p class="text-center pt-3">Users are not found</p>
            {% else %}
            {% for profile in found_users %}
            <div class="ml-5">
                <div class="form-inline text-center">
                    <img class="my-3 img-fluid rounded-circle" src="{{ profile.avatar.url }}" width="50"
                         alt="">
                    <a class="text-dark" href="{% url 'profile' profile.user.username %}">
                        <p class="ml-3 mt-3" style="font-size:20px">{{ profile.full_name }}</p></a>
                </div>
            </div>

            {% endfor %}

        </div>
        {% endif %}
    </section>

</main>

{% endblock %}